<!DOCTYPE html>
<html>
    <head>
        <title>Medowlark Travel</title>
        <script src="https://kit.fontawesome.com/0a044cf2ff.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/main.css"/>
        
    </head>
    <body>
        <header>
            <div class ="center">
                <div class ="logo left"><h2><i class="fa-solid fa-earth-europe"></i>   Medowlark Travel</h2></i></div>
            </div>
            <nav class ="desktop right">
                <ul>
                    <li><a href = "/">Home</a></li>
                    <li><a href = "/about">Sobre</a></li>
                    <li><a href = "/signup">Sign up</a></li>
                    <li><a href = "/newsletter">Newsletter</a></li>
                </ul>
            </nav>
            <div class = "clear"></div>
        </header>
        <div class ="corpo center">
             {{{body}}}
        </div>
       

        <footer>
            <h2>Desenvolvido por Luiz Eduardo Leroy</h2>
        </footer>
    </body>
</html>